<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.5/dist/css/bootstrap.min.css">
<h1>
	Sign Up
</h1>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>
		Sign up
	</button>

</form>
<%- include('partials/footer.ejs') %>